<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<h2>Donde Comer? <small>Escribe lo que te gustaria comer y nosotros te encontramos los sitios disponibles</small></h2>

	<div class="jumbotron">
		<div class="container">
			<h1>Bienvendios!</h1>
			<div>
			<table>
			<tr>
			<td>
			<button class="btn btn-primary btn-block" ng-click="gotoCurrentLocation()">Locate Me      </button>
			 </td><td>
			 <button uib-popover-template="dynamicPopover.templateUrl" popover-title="Nuevo sitio" type="button" class="btn btn-primary btn-block">+</button>
			 </td></tr>
			</table>
			Posicion actual {{loc.lat}},{{loc.lon}}


			</div>

			<input type="text" class="form-control" placeholder="Que quieres comer?">
			
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-marker 

			idKey='1'
	        coords='marker.coords'
	        options='marker.options'
	        event='marker.events'

	        ></ui-gmap-marker>

			</ui-gmap-google-map>


			
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>
		</div>
	</div>

    
   

   

    <script type="text/ng-template" id="myPopoverTemplate.html">
        <div>{{dynamicPopover.content}}</div>
        <div class="form-group">
          <label>Datos de punto:</label>
          <input type="text" placeholder="Nombre del local." class="form-control">
          <input type="text" placeholder="Comidas Ofrece" class="form-control">
          <input type="file" id="fileinput" class="form-control" />

          <form method="get" action="#/dashboard/overview">
          	<button id="btnGuardar" class="btn btn-primary btn-block">Guardar Punto</button>
          </form>
        </div>
    </script>
</div>